* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin:0;
  padding:0;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.grid-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border:2px solid black;
  border-radius: 16px;  
  padding: 10px
}

.grid-cell{
  height: 100%;
  aspect-ratio: 1;
  display: flex;
  transition: 0.2s ease-out;
  border-radius: 100%;
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
}
.grid-row{
  display: flex; 
  width: 100%;
}


.container{
  display: flex;
  align-items: center;
  border:2px solid black;
  border-radius: 16px;  
  padding: 10px
}
.container>div{
  margin: 10px;
  text-align: center;
}

#colorPicker{
  width: 100px;
  height: 100px;
  border:2px solid black;
  margin: 20px;
}